html{
    background-color: #fadca8;
    justify-content: center;
}

#body{ 
    background-color: #fadca8;
    font-family: "Abril Fatface", serif;
    color:#082931;
    overflow-x: hidden;
}

h1{
    font-size:500;
}

.header{
  background-color: #082931;
  color:#fadca8;
}
.popup-content {
    background-color:#082931;
    border-radius: 5px 5px 5px 5px ;
    color:#fadca8;
  

}
#logo{
  height:200px;
  width:400px;
 margin:auto;
}

#intro{
  text-align: center;
}



#nav{
  background-color:#082931 ;
  justify-content: center;
}
/* CSS from getcssscan.com!! */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fadca8;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #44504b;
}

button{
  color:#fadca8;
}

/* The landing page must disappear once submit is clicked*/
#greeting {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
#content {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
/* The landing page must disappear once submit is clicked*/

/* rotating carousel*/
.card-list .card-item {
  color:#fadca8;
  width: 400px;
  padding:35px;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  border-radius: 8px;
  backdrop-filter:blur(30px);
  background:#082931;
  border: 1px solid rgbs( 255, 255, 255, 0.5);
}

.card-list .card-item .user-image {

  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom:40px;
  border: 3px solid #fadca8;
  padding: 4px;
}

.card-list .card-item .user-profession {
  color:#fadca8;
  font-weight:500;
  margin: 14px 0 40px;
}

.card-list .card-item .message-button {
  color:#fadca8;
  font-weight: 500;

}


.slider-wrapper .swiper-pagination-bullet {
  background:#d9924e;
  height: 15px;
  width: 15px;
}



.slider-wrapper .swiper-slide-button {
  color:#d9924e;
  margin-top: -50px;
}

.slider-wrapper .swiper-slide-button:hover {
  color:#d9924e;
}

.inst{
  background-color: #082931;
  color:#fadca8;
}
#desc{
  border-radius: 5px 5px 5px 5px;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #082931;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #d9924e;
  z-index: 1000; 
}

#popup.hidden {
  display: none;

}

.heroimg{
  box-shadow: 0px 0px 20px #d9924e;
  border-radius: 5px 5px 5px 5px;
}




/* CSS */
.button-74 {
  background-color: #44504b;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #d9924e;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

footer{
  background-color: #082931;
  color:#fadca8;
  font-family: "Abril Fatface", serif;
  text-align: center;
}
#foot{
  color:#d9924e;
}


#faculty{
  background-color: #d9924e;
  color:#082931;
}


#alumni{
background-color:#44504b;
color:#422800;
}



#container {
  display: grid;
  place-items: center;
 
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color:#ffd18c8d;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  #container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  #container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}