html{
    background-color: #fadca8;
}

#body{ 
    background-color: #fadca8;
    font-family: "Abril Fatface", serif;
    color:#082931;
}

h1{
    font-size:500;
}

#box{
    background-color:#082931;
    border-radius: 5px 5px 5px 5px;
    color:#fadca8;

}

#logo{

 height:50%;
 width:50%;
justify-content: center;
}


/* CSS from getcssscan.com!! */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fadca8;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #44504b;
}

button{
  color:#fadca8;
}

/* The landing page must disappear once submit is clicked*/
#greeting {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
#content {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
/* The landing page must disappear once submit is clicked*/

/* rotating carousel*/
.card-list .card-item {
  color:#fadca8;
  width: 400px;
  padding:35px;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  border-radius: 8px;
  backdrop-filter:blur(30px);
  background:#082931;
  border: 1px solid rgbs( 255, 255, 255, 0.5);
}

.card-list .card-item .user-image {

  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom:40px;
  border: 3px solid #fadca8;
  padding: 4px;
}

.card-list .card-item .user-profession {
  color:#fadca8;
  font-weight:500;
  margin: 14px 0 40px;
}

.card-list .card-item .message-button {
  color:#fadca8;
  font-weight: 500;
  cursor:pointer;
}
.message-button:active {
  color: #44504b;
}

